.title1{
    color: yellow;

}

.header1{
    --background:#012c56;
    --border-color:#012c56;
}

.ic{
    border-radius: 2vh;
    box-shadow: 1px  1px 10px rgb(0, 0, 0);
}

.ia{
    margin-left: 90px;
}