<ion-header>
  <ion-toolbar class="header1">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/inicioalumno"
          text=""
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="title1">Scaner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Esta sección de la app es para registrar de forma rapida tu asistencia 
    </ion-card-content>
  </ion-card>

  <ion-button (click)="barcode()" expand="block" fill="solid" shape="round">
    Escanear QR
  </ion-button>

</ion-content>
