.title1{
    color: yellow;

}

.header1{
    --background:#012c56;
    --border-color:#012c56;
}

.ib{
    --background:#012c56;
    color:yellow ;
}
.ict{
    --background:#012c56;
    color:yellow ;
}

.if{
    --background:#012c56;
    color:yellow ;
}

.ic{
    border-radius: 3.5vh;
    box-shadow: 1px  1px 10px rgb(0, 0, 0);
}