<ion-header>
  <ion-toolbar class="header1">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu2()">
         <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
        </ion-button>
     </ion-buttons>

    <ion-title class="title1">Secciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Generar codigo</p>

  <ion-card>
    <ion-item class="label">
      <ion-label>PGY001</ion-label>
      <ion-button routerLink="/generar">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="label">
      <ion-label>PGY002</ion-label>
      <ion-button routerLink="/generar">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="label">
      <ion-label>PGY003</ion-label>
      <ion-button routerLink="/generar">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="label">
      <ion-label>PGY004</ion-label>
      <ion-button routerLink="/generar">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="label">
      <ion-label>PGY005</ion-label>
      <ion-button routerLink="/generar">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="label">
      <ion-label>PGY006</ion-label>
      <ion-button routerLink="/generar">
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-card>
</ion-content>
