.title1{
    color: yellow;
    font-family: 'Times New Roman', serif;
}

.header1{
    --background:#012c56;
    --border-color:#012c56;
}

.icc{
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

.ict{
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

.ict1{
    font-size: 28px;
}

.ib{
    --background:#012c56;
    margin-top: 25px;
}