<ion-header>
  <ion-toolbar class="header1">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu()">
         <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
        </ion-button>
     </ion-buttons>

    <ion-title class="title1">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ic">
    <h5>Bienvenid@ {{obtenernombre2()}}</h5>
    <p>Hola! aqui podras ver todas las <br>
      funcionalidades que tienes como alumno <br>
      de Duoc UC espero te guste mi APP
    </p>
  

  </ion-card>

</ion-content>
