<ion-header>
  <ion-toolbar class="header1">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/inicioprofesor"
          text=""
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="title1">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>

      <ion-item>
        <ion-label position="fixed">Seccion: </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.seccion" required></ion-input>
      </ion-item>

      <ion-button 
          expand="block" 
          class="ion-margin" 
          (click)="generaScan()">Generate QR Code</ion-button>

      <qrcode 
        [qrdata]="qrCodeString" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>


    </ion-card-content>
 </ion-card>
</ion-content>
